.Header-contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    width: 99vw;
}
.header_titulo-imagen{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    margin-top: 2%;
    gap: 40px;
}

.header_titulo-imagen:hover{
    animation-name: encogerse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    flex-wrap: wrap;
}


@keyframes encogerse {

    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
    
    
}
#header-titulo{
    font-size: 2em;
    font-weight: 500;
    text-shadow: gray 1.5px 1px;
    color: rgba(42, 122, 228, 1);
}


#header-logo{
    position: relative;
    left: 25px;
    width: 150px;
    height: 150px;
}
