.Cuerpo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.9);
}

#body_imagen{
    margin: 5%;
    width: 1313px;
    height: 312px;
    border-color: aqua;
}
